name: Python Requirements Dependency Check

on:
  push:
    branches: ["main","master"]
    paths:
      - requirements.txt
  pull_request:
    branches: ["main"]
    paths:
      - requirements.txt

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: aabadie/action-install-python-requirements@v2.0.1
        with:
          requirements: requirements.txt
          update-pip: true
